.card-history {
    margin: 4.5em auto;
    padding: 0;
    width: 28em;
}
.mask-history {
    overflow: auto !important;
}
div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 0 ;
    padding-bottom: 0
}
@media (min-width:1200px) {
    .card-history {
        width: 42em;
        height: 40em;
    }
    .mask-history {
        overflow: hidden !important;
    }
}